<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DaemonEntities" connectionString="metadata=res://*/Daemon.csdl|res://*/Daemon.ssdl|res://*/Daemon.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;Initial Catalog=CloudDaemon;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="TextListener"
             type="System.Diagnostics.TextWriterTraceListener"
             initializeData="D:\Logs\CloudDaemonProcessGuardLog.txt"/>
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>