<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ServerAddress" value="127.0.0.1" />
    <add key="ServerPort" value="1253" />
    <add key="BubbleId" value="c9e95415-f2dd-4f97-b1b8-2736a75ea764" />
    <add key="Location" value="TestLocation" />
    <add key="IdentityProviderUrl" value="http://test.provider.org" />
    <add key="ParticipantName" value="Bob" />
    <add key="ParticipantPassphrase" value="anonymous@nowhere.org" />
  </appSettings>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="MXDeckLog.txt"/>
        <remove name="Default"/>
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>